.cart-container {
    background-color: #f8f8f8;
  }
  
  .cart-boxx {
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 90px;
  }
  
  .cart-box h2 {
    color: #333;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 1.2em;
    color: #27ae60;
  }
  
  